{% extends 'base.html.twig' %}

{% block title %}Author{% endblock %}

{% block body %}

<div class="container my-5">

    <h1 class="mb-4 text-success fw-bold">Author</h1>

    <div class="card shadow-sm">
        <div class="card-body">

            <table class="table table-bordered align-middle mb-0">
                <tbody>
                    <tr>
                        <th class="table-success w-25">Id</th>
                        <td>{{ author.id }}</td>
                    </tr>
                    <tr>
                        <th class="table-success">Name</th>
                        <td class="fw-semibold text-success">
                            {{ author.fullName }}
                        </td>
                    </tr>
                    <tr>
                        <th class="table-success">Minibio</th>
                        <td>{{ author.minibio }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="mt-4 d-flex gap-2 flex-wrap">

        <a href="{{ path('app_author_index') }}"
           class="btn btn-outline-success">
           back to list
        </a>

        {#<a href="{{ path('app_author_edit', {'id': author.id}) }}"#}
        <a href="javascript:void(0);"
           class="btn btn-success">
           edit
        </a>

        {{ include('author/_delete_form.html.twig') }}

    </div>

</div>

{% endblock %}
