{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Connexion{% endtrans %}
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">

				{% if error %}
					<div class="alert alert-danger">
						{{ error.messageKey|trans(error.messageData, 'security') }}
					</div>
				{% endif %}

				{% if app.user %}
					<div class="alert alert-info">
						{% trans %}Connecté en tant que{% endtrans %}
						{{ app.user.userIdentifier }},
						<a href="{{ logout_path() }}" class="alert-link">
                            {% trans %}Se déconnecter{% endtrans %}
                        </a>
					</div>
				{% endif %}

				<div class="card shadow-sm">
					<div class="card-body">

						<h1 class="h4 text-center mb-4">
							{% trans %}Se connecter{% endtrans %}
						</h1>

						<form method="post">

							<div class="mb-3">
								<label for="username" class="form-label">
									{% trans %}Email{% endtrans %}
								</label>
								<input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control focus-ring focus-ring-success border-success" autocomplete="email" required autofocus>
							</div>

							<div class="mb-3">
								<label for="password" class="form-label">
									{% trans %}Mot de passe{% endtrans %}
								</label>
								<input type="password" name="_password" id="password" class="form-control focus-ring focus-ring-success border-success" autocomplete="current-password" required>
							</div>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

							<button class="btn btn-success w-100" type="submit">
								{% trans %}Se connecter{% endtrans %}
							</button>

						</form>

					</div>
				</div>

			</div>
		</div>
	</div>
{% endblock %}