<!-- templates/partials/header.html.twig -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
	<div class="container-fluid">

		<a class="navbar-brand d-flex align-items-center gap-2 fw-bold text-success" href="{{ path('app_home') }}">
			<i class="bi bi-share-fill fs-4"></i>
			<span>Shareo</span>
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div
			class="collapse navbar-collapse" id="navbarSupportedContent">

			<!-- NAV LINKS -->
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link {{ app.request.attributes.get('_route') == 'app_home' ? 'active' : '' }}" href="{{ path('app_home') }}">{% trans %}Accueil{% endtrans %}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ app.request.attributes.get('_route') == 'app_acheter' ? 'active' : '' }}" href="{{ path('app_acheter') }}">{% trans %}Acheter{% endtrans %}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ app.request.attributes.get('_route') == 'app_louer' ? 'active' : '' }}" href="{{ path('app_louer') }}">{% trans %}Louer{% endtrans %}</a>
				</li>

				<li class="nav-item">
					<a class="nav-link {{ app.request.attributes.get('_route') == 'app_brocante' ? 'active' : '' }}" href="{{ path('app_brocante') }}">{% trans %}Brocante{% endtrans %}</a>
				</li>

				<li class="nav-item">
					<a class="nav-link {{ app.request.attributes.get('_route') == 'app_don' ? 'active' : '' }}" href="{{ path('app_don') }}">{% trans %}Don{% endtrans %}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ app.request.attributes.get('_route') == 'about' ? 'active' : '' }}" href="{{ path('about') }}">{% trans %}À propos{% endtrans %}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ app.request.attributes.get('_route') == 'contact' ? 'active' : '' }}" href="{{ path('contact') }}">{% trans %}Contact{% endtrans %}</a>
				</li>
			</ul>

			<!-- ADMIN LINKS -->
			{% if is_granted('ROLE_ADMIN') %}
				<ul class="navbar-nav mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link {{ app.request.attributes.get('_route') == 'app_user_index' ? 'active' : '' }}" href="{{ path('app_user_index') }}">{% trans %}Users{% endtrans %}</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link {{ app.request.attributes.get('_route') == 'app_cathegory_index' ? 'active' : '' }}" href="{{ path('app_cathegory_index') }}">{% trans %}Categories{% endtrans %}</a>
					</li>
				</ul>
			{% endif %}

			{% if is_granted('ROLE_USER') %}
				<ul class="navbar-nav mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link {{ app.request.attributes.get('_route') == 'app_article_index' ? 'active' : '' }}" href="{{ path('app_article_index') }}">{% trans %}Articles{% endtrans %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{ app.request.attributes.get('_route') == 'app_conversation_list' ? 'active' : '' }}" href="{{ path('app_conversation_list') }}">{% trans %}Messages{% endtrans %}</a>
					</li>
				</ul>
			{% endif %}

			<!-- SEARCH -->
			<form class="d-flex me-3" role="search">
				<input class="form-control form-control-sm me-2" type="search" placeholder="{% trans %}Search{% endtrans %}">
				<button class="btn btn-outline-success" type="submit">{% trans %}Search{% endtrans %}</button>
			</form>

			<!-- LANGUE -->

			<div class="dropdown">

				<button
					class="btn btn-outline-secondary dropdown-toggle d-flex align-items-center gap-2" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">

					{% if app.request.locale == 'fr' %}
						<i class="fi fi-fr"></i>
						FR
					{% elseif app.request.locale == 'en' %}
						<i class="fi fi-gb"></i>
						EN
					{% elseif app.request.locale == 'es' %}
						<i class="fi fi-es"></i>
						ES
					{% elseif app.request.locale == 'it' %}
						<i class="fi fi-it"></i>
						IT
					{% else %}
						{{ app.request.locale|upper }}
					{% endif %}
				</button>

				<ul class="dropdown-menu dropdown-menu-end shadow rounded-3">

					{% for locale in locales %}
						{% if locale != app.request.locale %}
							<li>
								<a class="dropdown-item d-flex align-items-center gap-2" href="{{ path('app_changer_langue', {'locale': locale}) }}">

									{% if locale == 'fr' %}
										<i class="fi fi-fr"></i>
										{% trans %}Français{% endtrans %}
									{% elseif locale == 'en' %}
										<i class="fi fi-gb"></i>
										{% trans %}English{% endtrans %}
									{% elseif locale == 'es' %}
										<i class="fi fi-es"></i>
										{% trans %}Español{% endtrans %}
									{% elseif locale == 'it' %}
										<i class="fi fi-it"></i>
										{% trans %}Italiano{% endtrans %}
									{% else %}
										{{ locale|upper }}
									{% endif %}

								</a>
							</li>
						{% endif %}
					{% endfor %}

				</ul>

			</div>

			<!-- BOUTONS -->
			{% if not app.user %}
				<a href="{{ path('app_register') }}" class="btn btn-outline-warning btn me-1">
					{% trans %}Register{% endtrans %}
				</a>
				<a href="{{ path('app_login') }}" class="btn btn-outline-primary btn">
					{% trans %}Login{% endtrans %}
				</a>
			{% else %}
				<a href="{{ path('app_logout') }}" class="btn btn-outline-primary btn">
					{% trans %}Logout{% endtrans %}
				</a>
			{% endif %}
		</div>
	</nav>