<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Saraka est une plateforme innovante de location et d'achat de produits. Économique, écologique et pratique.">
		<meta name="keywords" content="location, achat, partage, économie, écologie, produits, plateforme">
		<meta name="author" content="Saraka">
		<meta property="og:title" content="Saraka - Plateforme de location et d'achat">
		<meta property="og:description" content="Plateforme innovante de location et d'achat de produits.">
		<meta property="og:image" content="{{ absolute_url(asset('images/saraka-cover.jpg')) }}">
		<meta property="og:url" content="{{ app.request.uri }}">
		<meta
		property="og:type" content="website">

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicon/apple-touch-icon.png') }}">

		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicon/favicon-32x32.png') }}">

		<link
		rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicon/favicon-16x16.png') }}">

		<!-- <link rel="icon" type="image/x-icon"
				      href="{{ asset('images/favicon/favicon.ico') }}"> -->

		<link rel="manifest" href="{{ asset('images/favicon/site.webmanifest') }}">
		<title>
			{% block title %}𝒮araka | Plateforme de location et d'achat
			{% endblock %}
		</title>


		{% block stylesheets %}
			
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
			<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
		{% endblock %}

	</head>

	<body class="d-flex flex-column min-vh-100">

		<div class="site-layout flex-grow-1 d-flex flex-column">

			{% include 'partials/header.html.twig' %}

			{% include 'partials/flash_message.html.twig' %}

			<main class="flex-grow-1"> {% block body %}{% endblock %}
				</main>

				{% block footer %}
					{% include 'partials/footer.html.twig' %}
				{% endblock %}

			</div>

			<script src="../assets/app.js"></script>

		</body>
	</html>
