{% extends 'base.html.twig' %}

{% block title %}Cathegory index{% endblock %}

{% block body %}
    <h1>Cathegory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cathegory in cathegories %}
            <tr>
                <td>{{ cathegory.id }}</td>
                <td>{{ cathegory.name }}</td>
                <td>{{ cathegory.slug }}</td>
                <td>
                    <a href="{{ path('app_cathegory_show', {'id': cathegory.id}) }}">show</a>
                    <a href="{{ path('app_cathegory_edit', {'id': cathegory.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cathegory_new') }}">Create new</a>
{% endblock %}
