{{ form_start(form) }}

    {{ form_widget(form) }}

    <div class="d-flex gap-2 mt-4">
        <button class="btn btn-success">
            {{ button_label|default('Save') }}
        </button>

        <a href="{{ path('app_user_index') }}" class="btn btn-outline-success">
            ← Back to list
        </a>
    </div>

{{ form_end(form) }}